:root {
  --yellow: #f5c32c;
  --blue: #57626b;
  --black: #242d49;
  --gray: rgba(36, 45, 73, 0.65);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --buttonBg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
  --inputColor: rgba(40, 52, 62, 0.07);
  --photo: #4cb256;
  --video: #4a4eb7;
  --location: #ef5757;
  --shedule: #e1ae4a;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.App {
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem 1rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  background: var(--blue);
  transition: all 100ms ease-out;
}

.button:hover {
  cursor: pointer;
  color: var(--blue);
  background: transparent;
  border: 2px solid var(--blue);
}

.button:disabled {
  background: silver;
  cursor: not-allowed;
  color: var(--blue);
}

::-webkit-scrollbar {
  display: none;
}
